body {
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
    color:white;
}

.body {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

ul {
    color: white;
}

p {
    color: white;
}